[
    {
        "text": "You may be more at risk if you have underlying medical conditions (e.g. heart disease, hypertension, diabetes, chronic respiratory disease, cancer) or if your immune system is compromised from a medical condition or treatment (e.g. chemotherapy)"
    },
    {
        "text": "Do you have such risk factors or pre-existing conditions?"
    }
]