{% import 'bot/macros.jinja' as bot %}

[
    {
        "text": "I’m sorry, I won’t be able to complete your enrollment. Let’s continue"
    },
    {% include 'bot/common/moderate_final_recommendations.jinja' %}
]